{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'marketplace/css/home.css'%}"
    />
    
  </head>

  <body>
    <header>
          <h1>Welcome {{ request.user.first_name }}</h1>
          <a href="/">Home</a>

          {% if request.user.is_authenticated %}
              <a href="/logout/">LogOut</a>
              <a href="/inbox/">Messages</a>
              <a href="/change-password/">Change Password</a>
              <a href="/create-item/">Create Post</a>
              <a href="{% url 'user-profile' request.user.pk %}">View profile</a>
          {% endif %}


          {% if not request.user.is_authenticated %}
              <a href="/login/">Login</a>
          {% endif %}
    </header>

    <nav>
          <h2>Category</h2>
          
          {% for category in categories %}
                  <a href="{% url 'item-category' category.pk %}">{{ category.title }}</a>
          {% endfor %}

    </nav>

    <div class="content">
            {% for item in items %}
                <a href="{% url 'item-detail' item.pk %}" class="delete-button">
                      <div class="item-container">
                        <h2>{{ item.title }}</h2>
                        <p>{{ item.description }}</p>
                        <p>Location: {{ item.location }}</p>
                        <p>Price: {{ item.price }}</p>

                        <div class="images">
                              {% for image in item.image.all %}
                                      <img src="{{ image.image.url }}" alt="{{ item.title }}" class="item-image">
                              {% endfor %}
                        </div>
                      </div>
                </a>

                {% if item.user == request.user %}
                        <a href="{% url 'item-delete' item.pk %}"> Delete post</a>
                {% endif %}

                <hr class="item-separator">

            {% endfor %}
    </div>
  </body>
</html>
