<!DOCTYPE html>
<html>
<head>
    <title>{{ item.title }}</title>
</head>
<body>
    <h1>{{ item.title }}</h1>

    <p>Category: {{ item.category }}</p>
    <p>Price: {{ item.price }}</p>
    <p>Condition: {{ item.condition }}</p>
    <p>Location: {{ item.location }}</p>
    <p>Description: {{ item.description }}</p>
    <p>Negotiable: {{ item.get_is_negotiable}}</p>
    <p>Created at: {{ item.created_at }}</p>

    {% comment %} ! To chat with user  {% endcomment %}
    
    {% if not request.user == item.user %}
          <a href="{% url 'chat' item.user.pk %}"> Chat with seller </a>
    {%endif%}
    

    {% for image in item.image.all %}
          <img src="{{ image.image.url }}" alt="{{ item.title }}">
    {% endfor %}


    <button id="show-comments">Comments</button>
    <div id="comments-container" style="display: none;">

        {%if comments%}

            {%for comment in comments%}
                  <p>User: {{ comment.user}}</p>
                  <p>Description: {{ comment.description }}</p>
                  <a href="{% url 'add-reply' comment.id %}">Reply</a>

                  {% if request.user == comment.user %}
                        <a href="{% url 'comment-delete' comment.id %}" >Delete Comment</a> 
                  {%endif%}

            {%endfor%}

        {%else%}
              <h1>No Comments Yet</h1>
        {%endif%}

          
          <form method="post" >
                {% csrf_token %}
                Add Comment {{ comment_form.description }}
                  <input type="submit" value="Comment"> 
          </form>
  
    </div>



    <h2>Other Items in {{ item.category }} Category</h2>

    {% for other in others %}
          <a href="{% url 'item-detail' other.pk %}">
              <div style="border: 1px solid black;">

                      {{ other.title }}
                      <p>Description: {{ other.description }}</p>
                      <p>Location: {{ other.location }}</p>
                      <p>Price: {{ other.price }}</p>

                      {% for image in other.image.all %}
                            <img src="{{ image.image.url }}" alt="{{ item.title }}" height='50px'>
                      {% endfor %}

                </div>
            </a>
                  <br>
    {% endfor %}

    <script>

        document.addEventListener('DOMContentLoaded', function () {
          document.getElementById('show-comments').addEventListener('click', function () {
            var commentsContainer = document.getElementById('comments-container');
            commentsContainer.style.display = (commentsContainer.style.display === 'none') ? 'block' : 'none';
          });
        });

    </script>

    
</body>
</html>
