{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/item_detail.css'%}" />
    <script src="{% static 'js/marketplace/item_detail.js' %}"></script>  

</head>
<body>
    
        <h1>{{ item.title }}</h1>
    
        <p>Category: {{ item.category }}</p>
        <p>Price: {{ item.price }}</p>
        <p>Condition: {{ item.condition }}</p>
        <p>Location: {{ item.location }}</p>
        <p>Description: {{ item.description }}</p>
        <p>Negotiable: {{ item.get_is_negotiable }}</p>
        <p>Created at: {{ item.created_at }}</p>
    
        {% comment %} To chat with the user {% endcomment %}
    
        {% if not request.user == item.user %}
        <a href="{% url 'chat' item.user.pk %}">Chat with seller</a>
        {% endif %}
    
        {% for image in item.image.all %}
        <img src="{{ image.image.url }}" alt="{{ item.title }}">
        {% endfor %}
    
        <button id="show-comments">Comments</button>
        <div id="comments-container" style="display: none;">
    
            {% if comments %}
            {% for comment in comments %}
            <p>User: {{ comment.user }}</p>
            <p>Description: {{ comment.description }}</p>
    
            {% if request.user.is_authenticated %}
            <a href="{% url 'add-reply' comment.id %}">Reply</a>
            {% endif %}
    
            {% if request.user == comment.user %}
            <a href="{% url 'comment-delete' comment.id %}">Delete Comment</a>
            {% endif %}
    
            {% endfor %}
            {% else %}
            <h1>No Comments Yet</h1>
            {% endif %}
    
            {% if request.user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                Add Comment {{ comment_form.description }}
                <input type="submit" value="Comment">
            </form>
            {% endif %}
    
        </div>
    
        <h2>Other Items in {{ item.category }} Category</h2>
    
        {% for other in others %}
        <a href="{% url 'item-detail' other.pk %}">
            <div style="border: 1px solid black;">
    
                {{ other.title }}
                <p>Description: {{ other.description }}</p>
                <p>Location: {{ other.location }}</p>
                <p>Price: {{ other.price }}</p>
    
                {% for image in other.image.all %}
                <img src="{{ image.image.url }}" alt="{{ item.title }}" height='50px'>
                {% endfor %}
    
            </div>
        </a>
        <br>
        {% endfor %}
    


</body>
</html>