<!DOCTYPE html>
<html>
<head>
    <title>{{ item.title }}</title>
</head>
<body>
    <h1>{{ item.title }}</h1>

    <p>Category: {{ item.category }}</p>
    <p>Price: {{ item.price }}</p>
    <p>Condition: {{ item.condition }}</p>
    <p>Location: {{ item.location }}</p>
    <p>Description: {{ item.description }}</p>
    <p>Negotiable: {{ item.get_is_negotiable}}</p>
    <p>Created at: {{ item.created_at }}</p>

    {% for image in item.image.all %}
        <img src="{{ image.image.url }}" alt="{{ item.title }}">
    {% endfor %}

    <h2>Other Items in {{ item.category }} Category</h2>
    {% for other in others %}
    <a href="{% url 'item-detail' other.pk %}">
        <div style="border: 1px solid black;">
                    {{ other.title }}
                <p>Description: {{ other.description }}</p>
                <p>Location: {{ other.location }}</p>
                <p>Price: {{ other.price }}</p>
                {% for image in other.image.all %}
                <img src="{{ image.image.url }}" alt="{{ item.title }}" height='50px'>
                {% endfor %}
            </div>
            </a>
            <br>
    {% endfor %}
</body>
</html>
