
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        chatting with  user with id {{user_id}} <br>

        <textarea name="Chats" id="chat-log" cols="100" rows="12">
            {%for message in messages%}
            {{message.sender}}:{{message.content}}
            {%endfor%}
        </textarea> <br>
           <input type="text" size="130" id="chat-input"> <br>
           <input type="button" value="Send" id="chat-send"><br>
           
           {{user_id| json_script:"user-id"}}
    
        <script>
            const uid=JSON.parse(document.getElementById("user-id").textContent)
            console.log("group name is ", uid)
    
            var ws=new WebSocket(
                "ws://"
                +window.location.host
                +'/ws/chat/'+uid
                +'/'
            )
    
    {% comment %}! Opening websocket {% endcomment %}
            ws.onopen= function(event){
                console.log("Websocket opened")
            }
    
    {% comment %} ! On websocket sending message to client {% endcomment %}
            ws.onmessage=function(event){
                console.log("Websocket message received",event.data)
                const data=JSON.parse(event.data)
                document.querySelector("#chat-log").value+=data.user+":"+data.msg+"\n" 
            }
    
    {% comment %} !On websocket closing {% endcomment %}
            ws.onclose=function(){
            console.error("Websocket closed")
            }
    
    
            document.getElementById("chat-send").onclick= function(){
                const val=document.getElementById('chat-input')
                const msg=val.value
                ws.send(JSON.stringify({
                    'msg':msg
                }))
                val.value=''
    
            }
        </script>
    </body>
    </html>