{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'chats/css/chat.css' %}" />


</head>
<body>
        chatting with  user with id {{user.first}} <br>

        <div name="Chats" id="chat-log">
            {% for message in messages %}

                    {% if message.sender == request.user %}
                            <p style="float: right;" class="message">{{ message.content }}</p> <br><br>
                    {% else %}
                            {%if user.image%}
                                    <img src="{{ user.image.url }}" height="30px" style="border-radius: 40%;"/>
                            {%else%}
                                    <img src="{% static "default/default.webp" %}" height="30px" style="border-radius: 50%;" />
                            {% endif%}
                            <p style="float: left;" class="message">{{ message.content }}</p> <br><br>
                    {% endif %}

            {% endfor %}
        </div> <br>

        <input type="text" size="130" id="chat-input"> <br>
        <input type="button" value="Send" id="chat-send"><br>
        {{user_id| json_script:"user-id"}}
    
        <script>
            const user_id=JSON.parse(document.getElementById("user-id").textContent)
            console.log("group name is ", user_id)
    
            var ws=new WebSocket(
                "ws://"
                +window.location.host
                +'/ws/chat/'+user_id
                +'/'
            )
    
    {% comment %}! Opening websocket {% endcomment %}
            ws.onopen= function(event){
                console.log("Websocket opened")
            }
    

    {% comment %} ! On websocket sending message to client {% endcomment %}
            ws.onmessage=function(event)
            {


                console.log("Websocket message received",event.data)
                const data=JSON.parse(event.data)
                const chatLog = document.querySelector("#chat-log");
                const isCurrentUser = data.sender === '{{ request.user }}';
                const messageElement = document.createElement('p');


                messageElement.textContent = `${data.msg}`;
            
                if (isCurrentUser) {

                    messageElement.style.backgroundColor = 'blue';
                    messageElement.style.color = 'white';
                    messageElement.style.padding='8px'
                    messageElement.style.display='inline-block'
                    messageElement.style.float='right'
                    messageElement.style.borderRadius = '25px';

                } else {

                    messageElement.style.backgroundColor = 'grey';
                    messageElement.style.color = 'white';
                    messageElement.style.padding='8px'
                    messageElement.style.display='inline-block'
                    messageElement.style.borderRadius = '25px';
                    {% comment %} const imageElement = document.createElement('img');
                    imageElement.src = data.sender.image.url;
                    messageElement.appendChild(imageElement); {% endcomment %}

                }
            
                chatLog.appendChild(messageElement);

                chatLog.scrollTop = chatLog.scrollHeight; 

           }
    
    {% comment %} !On websocket closing {% endcomment %}
            ws.onclose=function(){
                console.error("Websocket closed")
            }
    
    
            document.getElementById("chat-send").onclick= function()
            {
                    const val=document.getElementById('chat-input')
                    const msg=val.value
                    ws.send(JSON.stringify({
                        'msg':msg
                    }))
                    val.value=''
    
            }
        </script>
    </body>
    </html>

    