#chat-log {
    height: 630px;
    overflow-y: auto;
}
.message {
    display: block;
    padding: 8px;
    margin: 0;
    border-radius:25px;
    color: white;
    padding: 7px;
}

body{
    background-color: black;
    color: white;
}